<div class="flex-column-container">
  <div>
    <p class="flex-item"><%= @memo["title"] %></p>
    <p class="flex-item"><%= @memo["content"] %></p>
  </div>
</div>
<div class="flex-row-container">
  <a href="/memos/<%= @memo["id"] %>/edit" class="button">変更</a>
  <div>
    <form action="/memos/<%= @memo["id"] %>" method="post">
      <input type="hidden" name="_method" value="delete">
        <button type="submit" class="button">削除</button>
    </form>
  </div>
</div>
