<div>
  <form action="/memos" method="post" class="flex-column-container">
    <input type="text" name="title" class="flex-item">
    <textarea name="content" class="flex-item"></textarea>
    <button type="submit" class="button" class="flex-item">追加</button>
  </form>
</div>
